<script>
    function toLogin() {
    const start = document.getElementById("start").addEventListener("click", function () {
  window.location.href = "login.html";
});
return start
    }

    toLogin()
</script>

<button class="button-start" id="start">Empezar</button>

<style>
    .button-start {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--rojopastel);
  color: white;
  border: none;
  border-radius: 12px;
  height: 56px;
  width: 156px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box; /* Evita que el padding afecte las dimensiones */
  line-height: normal; /* Evita conflictos con el alineamiento vertical */
  box-shadow: 0 1px 3px black;
}

.button-start:hover {
  background-color: white;
  color: var(--rojopastel);
  border: 2px solid var(--rojopastel);
}
</style>