---

---

<div id="home" class="welcome">
	<div class="image-1">
  <h1>BIENVENID@ A Livitt</h1>
  <div class="text">
  <h3>Repartir tareas, multiplicar sonrisas</h3>
  <p>La app que convierte tu piso en un equipo imbatible.</p>
  </div>
  <a href="/login" class="button-start">Empezar</a>
	</div>
  </div>

<style>

:root {
--azuloscuropastel: #9abfcf; 
--azulclaropastel: #afced1;
--verdepastel: #6cc099;
--amarillopastel:  #ffdc9c;
--rosapastel: #ffb6ad;
--rojopastel: #ee6f6f; 
--grispastel: #e5decf;
--grisoscuropaste: #afb7bb;
--grisclaropastel: #e8e8e8;
--bordemaqueta: 2px solid black; 
}

	.welcome {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  

  .image-1 {
    background-image: url("/src/images/Livitt_\(2\).jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  h1 {
    height: 200px;
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    
  }

  .text {
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    h3 {
      color: black;
      
    }

    p {
      color: black;
      
    }
  }

  .button-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--rojopastel);
    color: white;
    border-radius: 20px;
    height: 75px;
    width: 150px;
    text-decoration: none;

    &:hover {
      background-color: white;
      color: var(--rojopastel);
      border: 2px solid var(--rojopastel);
      cursor: pointer;
    }
  }
}

</style>
