---
import ButtonJoin from "./ButtonJoin.astro"
---

<section id="home" class="welcome">
  <div class="title">
    <h1>Liviit</h1>
    <div style="background-color: transparent;">
      <img src="/public/images/logo2.png" alt="Logo Liviit">
    </div>
  </div>
  <h3>Porque la convivencia no tiene que ser complicada.</h3>
  <ButtonJoin/ >
</section>


<style>
:root {
  --azuloscuropastel: #9abfcf; 
  --azulclaropastel: #afced1;
  --verdepastel: #6cc099;
  --amarillopastel:  #ffdc9c;
  --rosapastel: #ffb6ad;
  --rojopastel: #ee6f6f; 
  --grispastel: #e5decf;
  --grisoscuropastel: #afb7bb;
  --grisclaropastel: #e8e8e8;
  --bordemaqueta: 2px solid black; 
}

.welcome {
  background: linear-gradient(to bottom, var(--azulclaropastel), white);
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.welcome .title h1 {
  color: var(--rojopastel);
  font-size: 100px;
  margin: 0;
}

.welcome .title img {
  padding-bottom: 8px; /* Ajuste fino */
  height: 80px;
  width: auto;
  background-color: transparent;
  fill: transparent;
}

.welcome h3 {
  color: var(--rojopastel);
  font-size: 20px;
  margin: 20px 0;
  padding: 50px;
}
</style>
