---
import NavBar from '../components/NavBar/NavBar.astro';
import MainDescription from '../components/Description/MainDescription.astro';
import MainTeam from '../components/Team/MainTeam.astro';
import MainFaqs from '../components/FAQS/MainFaqs.astro';
import MainContact from '../components/Contact/MainContact.astro';
import MainFooter from '../components/Footer/MainFooter.astro';
import MainWelcome from '../components/Welcome/MainWelcome.astro';
---
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livitt</title>
</head>

<body>
<NavBar/>
<MainWelcome/>
<MainDescription/>
<MainTeam/>
<MainFaqs/>
<MainContact/>
<MainFooter/>

<style>
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body {
background-color: white;
margin: 0;
padding: 0;
font-family: Questrial, sans-serif;
}
</style>
</body>
