---
import NavBar from '../components/NavBar.astro';
import MainHero from '../components/MainHero.astro';
import MainDescription from '../components/MainDescription.astro';
import MainTeam from '../components/MainTeam.astro';
import MainFaqs from '../components/MainFaqs.astro';
import MainContact from '../components/MainContact.astro';
import MainFooter from '../components/MainFooter.astro';

---



<body>
<NavBar/>
<MainHero/>
<MainDescription/>
<MainTeam/>
<MainFaqs/>
<MainContact/>
<MainFooter/>

<style>
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body {
background-color: white;
margin: 0;
padding: 0;
font-family: Questrial, sans-serif;
}
</style>
</body>
