<div id="contacto" class="contact">
    <h1>¿TODAVÍA SIGUES CON DUDAS?</h1>
    <h3>Puedes contactarnos a través del siguiente formulario</h3>
    <a href="/contact" class="button-contact">Pincha aquí</a>
  </div>

  <style>
:root {
  --azuloscuropastel: #9abfcf; 
  --azulclaropastel: #afced1;
  --verdepastel: #6cc099;
  --amarillopastel:  #ffdc9c;
  --rosapastel: #ffb6ad;
  --rojopastel: #ee6f6f; 
  --grispastel: #e5decf;
  --grisoscuropaste: #afb7bb;
  --grisclaropastel: #e8e8e8;
  --bordemaqueta: 2px solid black; 
}

    .contact{
  color: var(--rojopastel);
  background-color: transparent;
  height: 300px;
  width: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .button-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--rojopastel);
    color: white;
    border-radius: 20px;
    height: 75px;
    width: 150px;
    text-decoration: none;

    &:hover {
      background-color: white;
      color: var(--rojopastel);
      border: 2px solid var(--rojopastel);
      cursor: pointer;
    }
  }

  
}
  </style>