<section id="about" class="description">
    <div class="item-1">
        <div class="image-description" aria-label="Imagen de convivencia en el piso">
        <h1>¿Cansado de la mala convivencia en tu piso?</h1>
        </div>
    </div>
    <div class="item-2">
      <div class="header">
        <h3>¡Haz que tu hogar funcione sin estrés con Livitt!</h3>
      </div>
      <div class="content">
        <p>Con Livitt, repartir tareas ya no es un problema.</p>
        <ul>
            <li><b>Tareas repartidas de forma justa y aleatoria.</b></li>
            <p></p>
            <li><b>Establece fechas límite para que todo se haga a tiempo.</b></li>
            <p></p>
            <li><b>Lleva el control de lo que se ha hecho y lo que falta</b></li>
            <p></p>
            <li><b>Chatea con tus compañeros de piso desde un solo lugar</b></li>
        </ul>
      </div>
      <div class="footer">
        <a href="https://livitt.netlify.app/register">¡Comienza con Livitt hoy!</a>
      </div>
    </div>
</section>


<style>
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
--azuloscuropastel: #9abfcf; 
--azulclaropastel: #afced1;
--verdepastel: #6cc099;
--amarillopastel:  #ffdc9c;
--rosapastel: #ffb6ad;
--rojopastel: #ee6f6f; 
--grispastel: #e5decf;
--grisoscuropastel: #afb7bb;
--grisclaropastel: #e8e8e8;
--bordemaqueta: 2px solid black; 
}

.description {
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.description .item-1 {
  height: 600px;
  width: 50%;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description .item-1 .image-description {
  background-image: url("/public/images/description.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin-left: 20px;
}

.description .item-1 .image-description h1 {
  border-radius: 12px;
  background-color: rgb(60 60 60 / 80%);
  height: 200px;
  font-size: 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

.description .item-2 {
  width: 50%;
  padding-left: 32px;
  padding-right: 24px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.description .item-2 .header {
  

}

.description .item-2 .header h3 {
  font-size: 24px;
  
}

.description .item-2 .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description .item-2 .content p {
  font-size: 24px;

}

.description .item-2 .content ul {
  list-style-type: none;
  
}

.description .item-2 .content ul li {
  font-size: 16px;

  &::before {
  content: '\2713'; /* Unicode para el símbolo de check */
  color: green; /* El color del check */
  margin-right: 8px; /* Espacio entre el check y el texto */
}

}

.description .item-2 .footer {

}

.description .item-2 .footer a {
  font-size: 30px;
  color: var(--rojopastel);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
}

@media screen and (max-width: 768px) {
  .description {
    flex-direction: column;
    height: auto;
    padding: 20px;
    width: auto;
  }

  .description .item-1, 
  .description .item-2 {
    width: 100%;
    padding: 10px 0;
    height: auto;
  }

  .description .item-1 .image-description {
    height: 300px;
    margin-left: 0;
    border-radius: 8px;
  }

  .description .item-1 .image-description h1 {
    font-size: 24px;
    height: auto;
    padding: 16px;
    width: 90%;
  }

  .description .item-2 {
    justify-content: center;
  }

  .description .item-2 .header h3 {
    font-size: 20px;
    text-align: center;
  }

  .description .item-2 .content {
    gap: 10px;
  }

  .description .item-2 .content p {
    font-size: 18px;
    text-align: justify;
  }

  .description .item-2 .content ul {
    padding: 0px;
  }

  .description .item-2 .content ul li {
    font-size: 14px;
  }

  .description .item-2 .footer a {
    font-size: 24px;
    padding: 10px;
  }
}

</style>