<div id="sobre-la-app" class="description">
    <div class="item-1">
    <div class="image-description">
    <h1>Podríamos poner algo como: ¿Cansad@ de la mala convivencia en tu piso?</h1>
    </div>
</div>
<div class="item-2">
    <h3>En búsqueda de tu bienestar...</h3>
    <p>Esta app ha sido creada por un grupo de estudiantes del curso de Conecta EmpleoxEOI Programación y Diseño Web
    Frontend (Gran Canaria) con la finalidad de facilitar la convivencia y la organización en los pisos
    estudiantiles.
    Entre las utilidades, encontrarás:
    - Añadir tareas a un calendario.
    - Marcar tareas como completadas.
    - Repartir tareas aleatoriamente.
    </p>
</div>
</div>

<style>

:root {
--azuloscuropastel: #9abfcf; 
--azulclaropastel: #afced1;
--verdepastel: #6cc099;
--amarillopastel:  #ffdc9c;
--rosapastel: #ffb6ad;
--rojopastel: #ee6f6f; 
--grispastel: #e5decf;
--grisoscuropaste: #afb7bb;
--grisclaropastel: #e8e8e8;
--bordemaqueta: 2px solid black; 
}

.description {
height: 600px;
width: 100%;
display: flex;
flex-direction: row;

.item-1 {
height: 600px;
width: 50%;
background-color: transparent;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

.image-description {
    background-image: url("/src/images/image_description.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-left: 20px;

    h1 {
    height: 200px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    margin: auto;
    color: white;
    }
}
}

.item-2 {
height: 600px;
width: 50%;
display: flex;
flex-direction: column;
background-color: transparent;

h3 {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
    color: var(--rojopastel);
}

p {
    display: flex;
    flex-direction: row; 
    padding-left: 40px;
    padding-right: 40px;
    color: var(--rojopastel);
}
}
}
</style>