<section class="questions">
  <h1>FAQS</h1>
  <h3>¿Tienes alguna duda?</h3>
  <p>Puedes pinchar el siguiente botón y te las resolvemos</p>
  <button class="button-faqs" id="faqs">Pincha aquí</button>
</section>
<p></p>


<style>
:root {
  --azuloscuropastel: #9abfcf; 
  --azulclaropastel: #afced1;
  --verdepastel: #6cc099;
  --amarillopastel:  #ffdc9c;
  --rosapastel: #ffb6ad;
  --rojopastel: #ee6f6f; 
  --grispastel: #e5decf;
  --grisoscuropaste: #afb7bb;
  --grisclaropastel: #e8e8e8;
  --bordemaqueta: 2px solid black; 
}

.questions {
  color: var(--rojopastel);
  background: linear-gradient(to right, var(--azulclaropastel), white);
  height: 300px;
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.questions .button-faqs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--rojopastel);
  color: white;
  border: none;
  border-radius: 12px;
  height: 56px;
  width: 156px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box; /* Evita que el padding afecte las dimensiones */
  line-height: normal; /* Evita conflictos con el alineamiento vertical */
  box-shadow: 0 1px 3px black;
}

.button-faqs:hover {
  background-color: white;
  color: var(--rojopastel);
  border: 2px solid var(--rojopastel);
}


    </style>