<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Liviit</title>
	</head>

	<body>
		<slot />
	</body>
</html>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
	body {
		background-color: white;
		margin: 0;
		padding: 0;
		font-family: Questrial, sans-serif;
	}

	:root {
		--azuloscuropastel: #9abfcf;
		--azulclaropastel: #afced1;
		--verdepastel: #6cc099;
		--amarillopastel: #ffdc9c;
		--rosapastel: #ffb6ad;
		--rojopastel: #ee6f6f;
		--grispastel: #e5decf;
		--grisoscuropastel: #afb7bb;
		--grisclaropastel: #e8e8e8;
		--bordemaqueta: 2px solid black;
	}
</style>
